@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: #000000;
  color: #f8f8f8;
  /* font-family: var(--font-roboto); */
}

.overflow {
  overflow-wrap: anywhere;
}

.messages-cont {
  display: grid;
  grid-template-rows: auto minmax(300px, 1fr) minmax(90px, auto);
  height: 100vh;
}

.confirm {
  width: clamp(150px, 33vw, 250px);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background-color: #1976d2;
  color: #f5f8fa;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

btn:hover {
  background-color: #1d5fa1;
  color: #f5f8fa;
}

.btn-light {
  color: #1da1f2;
  background-color: #303030;
  border: 1px solid #d1dce4;
}

.button-light:hover {
  background-color: #1976d2;
  color: #f5f8fa;
}

main {
  position: relative;
}

.layout {
  display: grid;
  grid-template-columns: 1fr minmax(360px, 600px) 1fr;
  height: 100vh;
  position: relative;
}

.left-sidebar {
  position: relative;
  margin-left: auto;
  min-width: 230px;
  padding-left: 1rem;
  border-right: 1px solid #1e2022;
  height: 100%;
  align-items: start;
}

.blue-tick {
  vertical-align: top;
  color: var(--twitter-blue);
  margin-left: 2px;
  display: inline-flex;
  position: relative;
}
.blue-tick::after {
  content: attr(data-blue);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: var(--twitter-blue);
  color: var(--const-white);
  font-size: 0.75rem;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.blue-tickhover::after {
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  .layout {
    grid-template-columns: auto minmax(360px, 600px) 1fr;
  }

  .left-sidebar {
    min-width: 190px;
  }
}

@media screen and (max-width: 1150px) {
  .layout {
    grid-template-columns: auto minmax(360px, 1fr) 330px;
  }
  .left-sidebar {
    min-width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .layout {
    grid-template-columns: auto minmax(360px, 1fr) 0;
  }
  .left-sidebar {
    min-width: 60px;
  }
}

@media screen and (max-width: 850px) {
  .layout {
    grid-template-columns: auto minmax(360px, 1fr) 0;
  }
  .left-sidebar {
    min-width: 60px;
  }
}

/* .MuiPaper-root {
  background-color: #000000 !important;
  color: #d1dce4 !important;
} */

.btn-white {
  color: #f8f8f8;
  background-color: #000000;
  border: 1px solid #252525;
}

.btn-white:hover {
  background-color: #0c0c0c;
  color: #f8f8f8;
}

.btn-dark {
  color: #16181c;
  background-color: #f8f8f8;
}

.btn-dark:hover {
  background-color: #cecece;
  color: #16181c;
}

.mini-profile {
  position: fixed;
  bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #16181c;
  max-width: 180px;
  overflow: hidden;
  font-size: initial;
}
